<div class="jumbotron" style="margin-top: 40px; padding-bottom: 360px">
  <h1>My VOD</h1>
  <p>Rejestracja</p>
  <div class="col-sm-6 col-sm-offset-3">
    <div class="col-md-10">

      <form class="row" id="register" (submit)="register($event.target)">

        <div class="form-group col-sm-12 notNullable">
          <label for="name">Login</label>
          <input type="text" class="form-control" name="login" placeholder="Login" required>
        </div>

        <div class="form-group col-sm-12 notNullable">
          <label for="name">Hasło</label>
          <input type="password" class="form-control" name="password" placeholder="Hasło" required>
        </div>

        <div class="form-group col-sm-12 notNullable">
          <label for="name">Powtórz hasło</label>
          <input type="password" class="form-control" name="repassword" placeholder="Hasło" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="submit" class="btn btn-sm btn-default" value="Zarejestruj" />
        </div>

        <div class="message col-sm-12 text-center" style="margin-top: 10px;"> {{ message }} </div>

      </form>
    </div>
  </div>
</div>
