<div class="col-md-3 col-sm-4" style="word-break: break-word" title="{{video.description}}">
  <a (click)="profile(video.id)">
    <div class="btn btn-default" style="background: #fff; padding: 10px; margin: 10px; width: 100%">
      <i class="fa fa-play" aria-hidden="true" style="font-size: 60px;
    display: block;
    float: left;
    position: absolute;
    top: 0px;
    left: 20px;
    color: lightskyblue;
    z-index: 2;"></i>
      <span style="display: block;
    float: left;
    z-index: 3;
    color:  #fff;
    left: 23px;
    font-size: 11px;
    font-weight: normal;
    position: absolute;" [style.color]="video.is_free ? 'black':'red'"><span class="text-center">{{ video.is_free ? 'Oglądaj':'Opłać'}}</span></span>
      <section>
        <div class="col-sm-12"><br>
          <img src="{{ video.img }}" style="width: 100%" />
        </div>
        <div class="col-sm-12" style="color: #666; padding: 10px;" title="{{video.title}}"> <b>{{ title }}</b> </div>
      </section>
    </div>
  </a>
</div>
